.trivia-container {
    display: inherit;
    font-family: "Insula";
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

.trivia-container .timer {
    font-weight: bold;
    text-align: right;
}

.timer.close {
    color: rgb(red, green, blue);
}

.trivia-container h2.question {
    font-size: 20px;
    background: #8E5DE8;
    padding: 16px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 1.6;
}

.trivia-container .options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}

.trivia-container .option{
    border: none;
    padding: 24px 36px;
    font-size: 24px;
    font-family: "OpenDyslexic";
    background: #63c0eb;
    color: #303030;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.trivia-container button{
    cursor: url('/cursors/pride-month/gay\ Normal\ Select.cur'), auto;
}

.option:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.option:active {
    color: #000
}

.option:active:after {
    background: transparent;
}

.option:hover:before {
    opacity: 1;
}

.option:after {
    z-index: -1;
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.disabled{
    pointer-events: none;
}

.option.correct {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
}

.option.incorrect{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-container .end-trivia{
    background: #222;
    color: #fff;
    border: none;
    padding: 12px 32px;
    font-size: 20px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 100;
}

.trivia-tally{
    display: none;
}

.trivia-board{
    display: none;
}

.trivia-board .categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}

@font-face{
    font-family: 'OpenDyslexic';
    src: url('/fonts/opendyslexic-0.92/OpenDyslexic-Regular.otf');
}

@font-face{
    font-family: 'Insula';
    src: url('/fonts/insula/INSULA__.ttf');
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}