<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0" />
        <title>Document</title>
        <link rel ="stylesheet" href="../src/css/style.css" />    
    </head>
    <body style="background-color:#3B6751";>
        <main>
            <div id="trivia-container" class="trivia-container">
                
                <h1>JEOPARGAY</h1>
                <div class="timer">Time Remaining: 10 seconds</div>
                <h2 class="question">Ass above ass below</h2>
                <div class="options">
                    <button class="option">Emerald Ipad</button>
                    <button class="option">Emerald Ipad</button>
                    <button class="option">Emerald Ipad</button>
                    <button class="option">Emerald Ipad</button>
                </div>
                <div><button id="pause-button" class="pause-trivia" style="float: left;">Pause!</button>
                <a href="index.html"><button id="end-button" class="end-trivia" style="float: right">End</button></a></div>
            </div>
        </main>

        <script src="../src/javascript/client.js"></script>
    </body>
</html>