<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0" />
        <title>Document</title>
        <link rel ="stylesheet" href="../css/style.css" />    
    </head>
    <body style="background-color:#3B6751";>
        <main>    
            <div id="trivia-tally" class="trivia-tally">
                <h2>WOW SUCH A GOOD BOY</h2>
                <div id="tally-container" class="tally-container">
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <span id="vampire" class="vampire-progress"></span>
                        <div class="clan-title">Vampire</div>
                    </div>
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <div id="lycan" class="lycan-progress"></div>
                        <div class="clan-title">Lycan</div>
                    </div>
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <span id="dragon" class="dragon-progress"></span>
                        <div class="clan-title">Dragon</div>
                    </div>
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <div id="gargoyle" class="gargoyle-progress"></div>
                        <div class="clan-title">Gargoyle</div>
                    </div>
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <span id="warlock" class="warlock-progress"></span>
                        <div class="clan-title">Warlock</div>
                    </div>
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <span id="jester" class="jester-progress"></span>
                        <div class="clan-title">Jesters</div>
                    </div>
                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <div id="thrall" class="thrall-progress"></div>
                        <div class="clan-title">Thrall</div>
                    </div>

                    <div class="clan-tally">
                        <span class="clan-total">0</span>
                        <div id="mortals" class="mortals-progress"></div>
                        <div class="clan-title">Mortals</div>
                    </div>
                </div>
                <!-- <div class="previous-questions">
                    <div class="question-container">
                        <div class="question">A question previously discussed!!</div>
                        <div class="chat-answer">Creatures said: Not Answered</div>
                        <div class="correct-answer">The actual answer</div>
                    </div>
                    <div class="question-container incorrect">
                        <div class="question">A question previously discussed!!</div>
                        <div class="chat-answer">Creatures said: Not Answered</div>
                        <div class="correct-answer">The actual answer</div>
                    </div>
                </div> -->
                <div class="board-button-container">
                    <a href="./"><button id="board-return-button" class="board-return-button">To the Board</button></a>
                </div>
            <div class="tally-bottom">
            </div>
            <div class="tally-left-top">
            </div>
            </div>
            <div class="tally-right">
            </div>
        </main>

        <script src="../javascript/tally.js"></script>
    </body>
</html>