main{
    display: flex;
    justify-content: center;
    transition: 1s;
    background-color: #3b675117;
}

main.hidden{
    opacity: 0;
}

.trivia-tally{
    display: auto;
}

.trivia-board{
    display: auto;
    background: #000000;
    font-family: "Insula";
    color: #dadada;
    width: 95%;
    align-content: start;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    border-image: url();
}

.trivia-main{
    display: flex;
    flex-direction: row;
}

.trivia-container .timer {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.timer.close {
    color: rgb(red, green, blue);
}

.trivia-container h1{
    font-size: 40px;
}

.trivia-container h2.question {
    font-size: 40px;
    background: #7650bb;
    padding: 20px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 5;
}

.trivia-container {
    display: inline;
    font-family: "Insula";
    vertical-align: top;
    text-align: center;
    width: 70%;
}

.trivia-container .options{
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    flex-direction: row;
}

.trivia-container .option{
    padding: 24px 36px;
    font-size: 24px;
    font-family: "OpenDyslexic";
    background: #4fbcee;
    color: #303030;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.question-left{
    position: relative;
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.left-trivia-image{
    position: relative;
    max-height: 100%;
    max-width: 200%;
    width: 150%;
    height: 80%;
    left: -20%;
    bottom: -20%;
}

.question-right{
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.right-trivia-image{
    position: relative;
    max-height: 100%;
    max-width: 100%;
    width: 80%;
    height: 50%;
    left: 25%;
    bottom: -50%;
}

.trivia-container button{
    cursor: url('../cursors/pride-month/gay\ Normal\ Select.cur'), auto;
}

.trivia-board button{
    cursor: url('../cursors/pride-month/gay\ Normal\ Select.cur'), auto;
}

.option:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.option:active {
    color: #000
}

.option:active:after {
    background: transparent;
}

.option:hover:before {
    opacity: 1;
}

.option:after {
    z-index: -1;
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.disabled{
    pointer-events: none;
}

.option.correct {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
}

.option.incorrect{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.option-choice{
    font-size: 25px;
    font-family: "OpenDyslexic";
}

.trivia-container .end-trivia{
    background: #222;
    color: #fff;
    padding: 12px 32px;
    font-size: 20px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 100;
}

.trivia-container .pause-trivia{
    background: #222;
    color: #fff;
    padding: 12px 32px;
    font-size: 20px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 100;
}

.tally-button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 100;
    width: 8%;
}

.reset-button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 100;
    width: 8%;
}

.board-button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 100;
    width: 8%;
}


.trivia-board .categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1f 1f 1f 1f 1f;
    align-items: start;
    justify-items: stretch;
    border-spacing: 40px;
}

.trivia-board .cat1Title{
    padding: 30px;
}

.trivia-board .cat6Title{
    padding: 0px;
}

.trivia-board .category1{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #000;
    width: 100%;
    background-image: linear-gradient(30deg, #ff00007c, #ff730070), url(../backgroundImages/gods_man_42.png);
    background-size: 100% 100%;
}

.trivia-board .cat1square{
    width: 60%;
    justify-self: center;
    align-content: center;
    padding: 30px;
    font-size: 30px;
    font-family: "Insula";
    background: linear-gradient(30deg, #ff0000d2, #ff7300c5);
}

.cat1square.inactive{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-board .category2{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #000;
    width: 100%;
    background-image: linear-gradient(30deg, hsla(27, 100%, 50%, 0.76), #fffb00bd), url(../backgroundImages/gods_man_29.png);
    background-size: 100% 100%;
}

.trivia-board .cat2square{
    display: table-cell;
    justify-self: center;
    align-content: center;
    width: 60%;
    padding: 30px;
    font-size: 30px;
    font-family: "Insula";
    background: linear-gradient(30deg, #ff7300c2, #fffb00be);
}

.cat2square.inactive{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-board .category3{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #000;
    width: 100%;
    background-image: linear-gradient(30deg,#fffb00d5, #48ff00d5), url(../backgroundImages/904524ilsdl.png);
    background-size: 100% 100%;
}

.trivia-board .cat3square{
    display: table-cell;
    justify-self: center;
    align-content: center;
    width: 60%;
    padding: 30px;
    font-size: 30px;
    font-family: "Insula";
    background: linear-gradient(30deg,#fffb00c0, #48ff00bd);
}

.cat3square.inactive{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-board .category4{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #000;
    width: 100%;
    background-image: linear-gradient(30deg, #48ff00c5, #2587d8b2), url(../backgroundImages/gods_man_39.png);
    background-size: 100% 100%;
}

.trivia-board .cat4square{
    display: table-cell;
    justify-self: center;
    align-content: center;
    width: 60%;
    padding: 30px;
    font-size: 30px;
    font-family: "Insula";
    background: linear-gradient(30deg, #48ff00c5, #2587d8b2);
}

.cat4square.inactive{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-board .category5{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #000;
    width: 100%;
    background-image: linear-gradient(30deg, #2587d8c7, #7b00ffce), url(../backgroundImages/gods_man_10_2.png);
    background-size: 100% 100%;
}

.trivia-board .cat5square{
    display: table-cell;
    justify-self: center;
    align-content: center;
    width: 60%;
    padding: 30px;
    font-size: 30px;
    font-family: "Insula";
    background: linear-gradient(30deg, #2587d8c7, #7b00ffce);
}

.cat5square.inactive{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-board .category6{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #000;
    width: 100%;
    background-image: linear-gradient(30deg, #7b00ffc5, #ff0000cb), url(../backgroundImages/gods_man_3.png);
    background-size: 100% 100%;
}

.trivia-board .cat6square{
    display: table-cell;
    justify-self: center;
    align-content: center;
    width: 60%;
    padding: 30px;
    font-size: 30px;
    font-family: "Insula";
    background: linear-gradient(30deg, #7b00ffc5, #ff0000cb);
}

.cat6square.inactive{
    background: linear-gradient(45deg, #161616, #585857, #c0c0bf, #ebebeb, #808080, #3e3f41, #000000, #6d6d6d, #afafaf);
    animation: glowing 20s linear infinite;
}

.trivia-tally{
    display: flex;
    background-color: #3c5831;
    width: 85%;
    height: 800px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trivia-tally h2{
    font-size: 35px;
    justify-self: center;
    font-family: "Insula";
}

.tally-right{
    display: flex;
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("../backgroundImages/reached-city-1600.png");
    background-position: right bottom;
    background-size: 10em auto;
}


.tally-left-top{
    display: flex;
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url("../backgroundImages/death-rides-town-1600.png");
    background-position: left top;
    background-size: 20em auto;
}

.tally-bottom{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url("../backgroundImages/951277ilsdl.png");
    background-position: bottom;
    background-size: 30em auto;
    pointer-events: none;
}

.right-trivia-image{
    position: relative;
    box-sizing: content-box;
    max-height: 100%;
    max-width: 100%;
    width: 80%;
    height: 50%;
}

.trivia-tally .previous-questions{
    display: flex;
    gap: 16px;
    margin-top: 20px;
    justify-self: center;
}

.board-button-container{
    display: flex;
    justify-content: right;
}

.board-return-button{
    background-color: #222;
    color: #fff;
    font-size: 10px;
    font-family: "OpenDyslexic";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    justify-self: center;
}

.tally-container{
    display: flex;
    height: 80%;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    justify-content: center;
}

.trivia-tally .clan-tally{
    display: flex;
    background-color: #173222;
    height: 100%;
    font-family: "OpenDyslexic";
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.trivia-tally .clan-total{
    display: flex;
    justify-content: start;
    align-items: center;
}

.clan-tally .jester-progress{
    height: 0.1%;
    width: 50%;
    background-color: #771bce;
    box-shadow: 0 10px 40px -10px #771bce;
    transition: all 2s ease;
}

.clan-tally .dragon-progress{
    height: 0.1%;
    width: 50%;
    background-color: #cec329;
    box-shadow: 0 10px 40px -10px #cec329;
    transition: all 2s ease;
}

.clan-tally .vampire-progress{
    height: 0.1%;
    width: 50%;
    background-color: #df1919;
    box-shadow: 0 10px 40px -10px #df1919;
    transition: all 2s ease;
}

.clan-tally .warlock-progress{
    height: 0.1%;
    width: 50%;
    background-color: #297ece;
    box-shadow: 0 10px 40px -10px #297ece;
    transition: all 2s ease;
}

.clan-tally .gargoyle-progress{
    height: 0.1%;
    width: 50%;
    background-color: #1cc947;
    box-shadow: 0 10px 40px -10px #1cc947;
    transition: all 2s ease;
}

.clan-tally .thrall-progress{
    height: 0.1%;
    width: 50%;
    background-color: #ce29b8;
    box-shadow: 0 10px 40px -10px #ce29b8;
    transition: all 2s ease;
}

.clan-tally .lycan-progress{
    height: 0.1%;
    width: 50%;
    box-shadow: 0 10px 40px -10px #ca7d18;
    background-color: #ca7d18;
    transition: all 2s ease;
}

.clan-tally .mortals-progress{
    height: 0.1%;
    width: 50%;
    box-shadow: 0 10px 40px -10px #56787e;
    background-color: #56787e;
    transition: all 2s ease;
}

@font-face{
    font-family: 'OpenDyslexic';
    src: url('../fonts/opendyslexic-0.92/OpenDyslexic-Regular.otf');
}

@font-face{
    font-family: 'Insula';
    src: url('../fonts/insula/INSULA__.ttf');
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}